<!DOCTYPE html>
<html lang="nl">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/home.css" />
    <meta name='viewport' content='user-scalable=0'/>
    <title>Ceuvel Game</title>
  </head>
  <body>

    <section id="0" class="sections">
      <h1>De Ceuvel game</h1>
      <p>Hier op de Ceuvel proberen we alles zo groen mogelijk te doen. Alles staat met elkaar in verbinding. Zo ook de Afrikaanse meervallen en de kas. De Afrikaanse meervallen zitten in een groot waterreservoir, De meervallen krijgen te eten en scheiden hun ontlasting uit. De ontlasting van de meervallen bevat ammoniak, een te hoge concentratie van ammoniak in het reservoir van de vissen kan dodelijk zijn. Ammoniak is daarentegen een voedingsmiddel voor planten en gewassen. Hier maakt de Ceuvel handig gebruik van door de ammoniak uit het water te filteren en door te pompen naar de kas. Hierdoor blijven de vissen in leven en worden de gewassen en planten gevoed.</p>
    </section>

    <section id="1" class="none">
      <h1>Doel van het spel</h1>
      <p>Het doel van het spel is om de vissen te laten groeien en zoveel mogelijk te planten. Probeer de snelste tijd te behalen door in al je plantenbakken gewassen te planten.</p>
    </section>

    <section id="2" class="none">
      <h1>1. Planten</h1>
      <p>Hier zie je de kas. Hier plant en oogst je de gewassen. Planten doe je door op het plantenbakje te klikken, oogsten doe je door op een plant te klikken die volledig gegroeid is. Je kan tussen de kas en het aquarium switchen door op de knop te klikken.</p>
      <div id="harvest"></div>
    </section>

    <section id="3" class="none">
      <h1>2. Het laten groeien van planten</h1>
      <p>In het aquarium is het doel de vissen te laten groeien. Dit doe je doormiddel van het voeren van de vissen. Als je een vis wilt voeren klik je op een vis, vervolgens zie je de naam en status van de vis. Deze geeft ook aan of de vis honger heeft. Als je een vis voert zal hij groter worden.</p>
      <div class="image">
        <div id="fish"></div>
        <div id="fishStatus"></div>
      </div>
    </section>

    <section id="4" class="none">
      <h1>3. Vissen voeren en ammoniak</h1>
      <p>Na dat je een vis gevoerd hebt zal deze vrijwel meteen ammoniak uitscheiden. Dit wordt uit het water gefilterd doormiddel van de filter aan de rechterkant van het aquarium. Door op het filter te klikken wordt de ammoniak naar de kas getransporteerd. </p>
      <div class="image">
        <div id="meter"></div>
        <div id="ammoniak"></div>
      </div>
    </section>

    <section id="5" class="none">
      <h1>4. Hoe win ik?</h1>
      <p>Probeer zo snel mogelijk alle plantenbakken te vullen. Wat is jou snelste tijd? </p>
      <div id="filled">

      </div>
    </section>

    <div class="buttons">
      <button class="none" id="prev">vorige</button>
      <a id="startGame" href="#"><button id="next">volgende</button></a>
    </div>

    <script src="js/home.js"></script>
  </body>
</html>
